<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="message" class="com.chaitu.springcore.Message">
        <property name="name" value="Ramya"/>
    </bean>

    <!--Setter Injection-->
    <bean id="message2" class="com.chaitu.springcore.Message">
        <property name="name" value="Chaitanya"/>
    </bean>

    <!--Constructor Injection-->
    <bean id="conInjection" class="com.chaitu.springcore.Message">
        <constructor-arg name="name" value="Constructor Injection" />
    </bean>
</beans>
